@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-slate-100 text-black text-base;
}

html {
    scroll-behavior: smooth;
}

section{
    @apply max-w-[1440px] py-12 md:py-24 mx-auto;
}

.container {
    @apply max-w-[1260px]
}


a, p {
    @apply mb-4
}

h1, h2, h3 {
    @apply font-bold mb-6
}

h1 {
    @apply text-h3 md:text-h2 lg:text-h1
}

h2 {
    @apply text-h3 md:text-h2
}

h3 {
    @apply text-xl
}

.test {
    border: solid 2px white;
    
}

.h4WBall {
    :first-of-type {
        background-color: green !important;
    }
}